{% extends 'base.html' %}

{% block head %}
<title>Add Recipes</title>
{% endblock %}

{% block body %}

<h1>Add Recipes:</h1>
<form action='/addIngredients' method='POST'>
    Add Amount: <input type='text' name='ingredient_amount' id='ingredient_amount'>
    Add Measure: <input type='text' name='ingredient_measure' id='ingredient_measure'>
    Add Ingredient: <input type='text' name='ingredient_name' id='ingredient_name'>
    <input type="submit" value="Submit">
<a href='/'>Back To Home</a>

{% endblock %}