{% extends 'base.html' %}

{% block head %}
<title>Manager</title>
{% endblock %}

{% block body %}
<h1>Manager:</h1>
<a href='/'>To Home</a>
<form action='/manager' method='POST'>
    Add Group: <input type='text' name='manager' id='manager'>
            <input type='submit' vale='Submit'>
{# links to other locations #}

{% if user == "Guest" %}
<h1>Hello {{ user }}</h1>
{% else %}
<h1>Hello {{user.username}}</h1>
<h2>{{user.group_ids}}</h2>
{% endif %}

<h2>Total Ingredients For Lists</h2>
{% for group in LF %}
    <h3>{{group[0]}}</h3>
    {% for ingr in group %}
        {% if ingr|length == 3 %}
            <p>{{ingr[0]}} {{ingr[1]}}: {{ingr[2]}}</p>
        {% endif %}
    {% endfor %}
{% endfor %}

{% for group in the_groups %}
    <h2>{{ group[0].group_name }}</h2>
    <p>{{ group[0].recipe_ids }}</p>
    {% if user != 'Guest'%}
        <a href='/manager/deleteGroup/{{ group[0].id }}'>Delete {{group[0].group_name}}</a>
    {% endif %}
    
    {% for recipe in group %}
        {% if recipe.name|length != 0 %}

            <h3>{{ recipe.name }}</h3>
            <h4>Chef: {{ recipe.chef }}</h4>

            <h5>Ingredients:</h5>
            <p>
                {% autoescape false %}
                    {{ recipe.ingredients | replace('| ','|') | replace(' |','|') | replace(' :',':') | replace(': ',':') | replace(':',': ') | replace('|', '<br>') | replace('*',' ')}}
                    <h5>Steps:</h5>
                    {{ recipe.steps | replace('| ','|') | replace(' |','|') | replace('|', '<br>') }}
                {% endautoescape %}
                {# formating ingredients and steps #}
            </p>

            <h5>Contains:</h5>

            <p>
                {% for filter in used_filters %}
                    {% for l in range(0, (((recipe.tags|length))/2)|int) %}
                        {% if recipe.tags[l*2:(l*2)+2] == filter['id'] %}
                            {{ filter['filter'] }}
                            <br>

                        {% endif %}
                    {% endfor %}
                {% endfor %}
                {# formting filters #}
            
                {% if recipe.extra_notes != "" %}
                <h5>Extra Notes:</h5>
                {{ recipe.extra_notes }}
                {% endif %}
                <br>
                <br>
                {% if user != 'Guest'%}
                    <a href='/manager/deleteFromGroup/{{ group[0].id }}/{{ recipe.id }}'>Delete Recipe From {{group[0].group_name}}</a>
                {% endif %}
                <br>
                {{ recipe.tags }}
                {# displaying recipe #}
            </p>
        {% endif %}
    {% endfor %}
{% endfor %}


    
{% endblock %}