<h1>Recipes:</h1>
{% for recipe in recipes %}

    <h2>{{ recipe.name }}</h2>
    <h3>Chef: {{ recipe.chef }}</h3>

    <h4>Ingredients:</h4>
    <p>
        {% autoescape false %}
            {{ recipe.ingredients | replace('| ','|') | replace(' |','|') | replace(' :',':') | replace(': ',':') | replace(':',': ') | replace('|', '<br>') }}
            <h4>Steps:</h4>
            {{ recipe.steps | replace('| ','|') | replace(' |','|') | replace('|', '<br>') }}
        {% endautoescape %}
        {# formating ingredients and steps #}
    </p>

    <h4>Contains:</h4>
    
    <p>
        {% for filter in used_filters %}
            {% for l in range(0, (((recipe.tags|length))/2)|int) %}
                {% if recipe.tags[l*2:(l*2)+2] == filter['id'] %}
                    {{ filter['filter'] }}
                    <br>
            
                {% endif %}
            {% endfor %}
        {% endfor %}
        {# formting filters #}
    
        {% if recipe.extra_notes != "" %}
        <h4>Extra Notes:</h4>
        {{ recipe.extra_notes }}
        {% endif %}
        <br>
        <br>
        <a href='/recipe/delete/{{recipe.id}}'>Delete Recipe</a>
        <a href='/results/add_favorite/{{recipe.id}}'>Add Recipe To Favorites</a>
            {% for group in the_groups %}
                <br>
                <a href="/manager/addToGroup/{{group['name']}}/{{recipe.id}}">Add Recipe To {{ group['name'] }} Manager</a>
            {% endfor %}
        <br>
        {{ recipe.tags }}
        {# displaying recipe #}
    </p>
{% endfor %}