{% extends 'base.html' %}

{% block head %}
<title>Search</title>
{% endblock %}

{% block body %}

<h1>Search Tab</h1>
<form action='/search' method='POST'>
    Search: <input type='text' name='search' id='search'>
            <input type='submit' vale='Submit'>
{# creating search bar #}

    <br>
    Mark to exclude results:
    {% for filter in used_filters %}
        <br>&nbsp;
        <input type='checkbox' name='{{ filter["filter"] }}' id='{{ filter["filter"] }}' value='{{ filter[filter] }}'>
        <label for='{{ filter["filter"] }}'>Exclude {{ filter["filter"] }}</label>
    {% endfor %}
        {# form to get excluded tags #}

{% if failure == 1 %}
<h5>No Recipes Found Matching Criteria</h5>
{# saying if search not found #}
{% endif %}
<br>
<a href='/'>Back To Home</a>
{% endblock %}